/* .top{
    text-align: center;
    color: rgb(253, 133, 153);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-bottom: 5%;
    padding: 2%;
    display: flex;
    justify-content: center;
}

body{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* width: 500px;
    height: 100px;
    padding: 0;
    margin: 0;
    border-style: solid;
    box-sizing: border-box;
    color: pink;
} */

/* #question{
    font-size: 25px;
    padding: 50px;
    color: pink;
}  */

/* .container{
    max-width: max-content;
    max-height: max-content;
    width: 1000px;
    border-radius: 5px;
    padding: 50px;
    display: grid;
    /* grid-template-columns: auto; */
    /* gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} */ 

/* #question-container{
    max-width: max-content;
    max-height: max-content;
    padding: 50px;
    margin: 50px;
} */
/* #question{
    max-width: max-content;
    max-height: max-content;
    width: 1000px;
    
} */

/* #answer-buttons{
    display: grid;
    grid-template-columns: reapeat(2);
    gap: 20px;
} */ 


.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: rgb(207, 42, 119);
    font-weight: bolder;
    text-shadow: -1px 1px 000 #000;
    -webkit-text-stroke: 1px #000;
}
.body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
   justify-content:center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

body{
    background-image: url("https://preview.redd.it/wjyq8j7mu6u61.jpg?width=640&crop=smart&auto=webp&s=036e6d340a7c5200d98416fa865b2f4637b9ab1d");
    background-attachment: fixed;
    /* background-position: 1000px; */
}

.container{
    width: 500px;
    max-width: 70%;
    background-color: rgb(224, 68, 141);
    border-radius: 5px;
    padding: 50px;
    margin-top: 150px;
    margin-left: 400px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 20px;
    padding: 20px;
}

#question{
    font-size: 30px;
    text-align: center;
}

#score{
    font-size: 20px;
}